# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.wsuo
*.json
*.db
*.db-shm
*.db-wal
*.opendb
/.vs/MyLib/FileContentIndex
*.sqlite
*.ipch
/Console_Library/text_support.h
/Console_Library/text_support.cpp
/Console_Library/rogueutil.h
/Console_Library/CppConsoleTable.hpp
